<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99 Banking Site">

    <test name="Guru99 Banking Tests">
         <classes>
             <class name="com.gurubank.qa.testcases.LoginPageTest"/>
             <class name="com.gurubank.qa.testcases.HomePageTest"/>
			 <class name="com.gurubank.qa.testcases.DeleteCustomerTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->